.navbar {
    background-color: white;
}

.wrapper {
    padding-top: 50px;
}

.genreChoice {
    padding: 5px;
    display: inline-flex;
}

.videoControlsGroup {
    width: 100%;
}

.videoControls {
    width: 50%;
}