.navbar {
    background-color: white;
}

.wrapper {
    padding-top: 50px;
}

.genreChoice {
    padding: 5px;
    display: inline-flex;
}

.activeGenre {
    color: red;
}

.videoControlsGroup {
    width: 100%;
}

.videoControls {
    width: 50%;
}

body {
    background-color: beige;
}
